body {
  margin: 0;
}
canvas{
  width: 100vw;
  aspect-ratio: 16/9;

}
.menu {
  position: fixed;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  padding: 50px 100px;
  background-color: rgba(0, 0, 0, 0.5);
}
button {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px 20px;
  margin: 10px;
  background-color: rgba(213, 20, 20);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}
